<title>{{Global.Title}}</title>
<meta property="og:title" content="{{Global.Title}}" />
<meta property="og:site_name" content="forever.pyppe.fi" />
<meta property="description" content="{{Global.Description}}" />
<meta property="og:description" content="{{Global.Description}}" />
<meta property="og:image" content="{{Global.BaseUrl}}/img/logo-wide.png" />
{{!--
<meta property="og:video" content="https://www.youtube.com/v/HmrPRd2VbWI" />
--}}
{{!-- Twitter (https://dev.twitter.com/cards/markup) --}}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@pyrylahti" />
<meta name="twitter:player" content="https://www.youtube.com/embed/HmrPRd2VbWI" />
<meta name="twitter:player:width" content="800" />
<meta name="twitter:player:height" content="700" />
