<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{Global.Title}}</title>
  <link rel="stylesheet" href="/css/vendor.css?h={{Global.ApplicationStartTime}}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/site.css?h={{Global.ApplicationStartTime}}" />
  <script text="text/javascript" src="/js/vendor.js?h={{Global.ApplicationStartTime}}"></script>
  <script text="text/javascript" src="/js/site.js?h={{Global.ApplicationStartTime}}"></script>
</head>
<body>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>{{Global.Title}}</h1>
        <h4>Synkronoi Forever-kuntosalin tuntivaraukset omaan Google-kalenteriisi! <i class="fa fa-thumbs-up fa-lg"></i></h4>
      </div>
    </div>
  </main>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
