<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body class="container">
  <h1>Synkronoi Forever-varaukset Google-kalenteriin</h1>
  <h3>Valitse kalenteri</h3>

  <div class="c-inputs-stacked">
    <% calendars.forEach(function(cal) { %>
    <label class="c-input c-radio">
      <input type="radio" name="calendar2" value="<%= cal.id %>" />
      <span class="c-indicator"></span>
      <!--<span style="display: inline-block; background: <%= cal.backgroundColor %>">Foo</span>-->
      <span style="display: inline-block; padding: 1px 5px; background: <%= cal.backgroundColor %>; color: <%= cal.foregroundColor %>"><%= cal.summary %></span>
    </label>
    <% }); %>
  </div>

</body>
</html>
